<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPBundleExecutable</key>
	<string>AppKit.sj</string>
	<key>CPBundleIdentifier</key>
	<string>com.280n.AppKit</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<real>6.0</real>
	<key>CPBundleName</key>
	<string>AppKit</string>
	<key>CPBundlePackageType</key>
	<string>FMWK</string>
	<key>CPBundlePlatforms</key>
	<array>
		<string>browser</string>
		<string>rhino</string>
	</array>
	<key>CPBundleReplacedFiles</key>
	<array>
		<string>CPSliderColorPicker.j</string>
		<string>CAAnimation.j</string>
		<string>CGAffineTransform.j</string>
		<string>CPAlert.j</string>
		<string>CPTableColumn.j</string>
		<string>CABackingStore.j</string>
		<string>CPCibConnector.j</string>
		<string>CPSegmentedControl.j</string>
		<string>CPToolbar.j</string>
		<string>CPOutlineView.j</string>
		<string>OLDCPTableView.j</string>
		<string>CPScroller.j</string>
		<string>CPPlatform.j</string>
		<string>CPTheme.j</string>
		<string>CGGradient.j</string>
		<string>CPStringDrawing.j</string>
		<string>CPColorPicker.j</string>
		<string>_CPCibClassSwapper.j</string>
		<string>CPWindowController.j</string>
		<string>CGColor.j</string>
		<string>CGContext.j</string>
		<string>_CPDisplayServer.j</string>
		<string>CPColorPanel.j</string>
		<string>CPCib.j</string>
		<string>CPResponder.j</string>
		<string>CPPanel.j</string>
		<string>CPViewController.j</string>
		<string>CPOpenPanel.j</string>
		<string>CPBezierPath.j</string>
		<string>CPAccordionView.j</string>
		<string>_CPBorderlessWindowView.j</string>
		<string>CPDOMWindowLayer.j</string>
		<string>CPApplication.j</string>
		<string>CPCibOutletConnector.j</string>
		<string>CPDocumentController.j</string>
		<string>CPProgressIndicator.j</string>
		<string>CPBox.j</string>
		<string>CPDocument.j</string>
		<string>CPToolbarItem.j</string>
		<string>CPCibControlConnector.j</string>
		<string>CPSearchField.j</string>
		<string>CPSplitView.j</string>
		<string>_CPStandardWindowView.j</string>
		<string>_CPCibCustomResource.j</string>
		<string>CPPlatformWindow+DOM.j</string>
		<string>CPControl.j</string>
		<string>CPTableHeaderView.j</string>
		<string>CPScreen.j</string>
		<string>CPFontManager.j</string>
		<string>CAMediaTimingFunction.j</string>
		<string>CPCompatibility.j</string>
		<string>CPTableView.j</string>
		<string>CPGeometry.j</string>
		<string>CPEvent.j</string>
		<string>_CPHUDWindowView.j</string>
		<string>CPFont.j</string>
		<string>OLDCPTableColumn.j</string>
		<string>CPMenu.j</string>
		<string>CPShadow.j</string>
		<string>AppKit.j</string>
		<string>_CPImageAndTextView.j</string>
		<string>_CPCibCustomObject.j</string>
		<string>CPFlashView.j</string>
		<string>CPButton.j</string>
		<string>CPFlashMovie.j</string>
		<string>CPThemeBlend.j</string>
		<string>_CPCornerView.j</string>
		<string>CPView.j</string>
		<string>CPColorWell.j</string>
		<string>CPPlatformWindow.j</string>
		<string>CPPlatformString.j</string>
		<string>_CPCibKeyedUnarchiver.j</string>
		<string>CGPath.j</string>
		<string>CPAnimation.j</string>
		<string>CPImage.j</string>
		<string>CPScrollView.j</string>
		<string>CPGraphicsContext.j</string>
		<string>_CPCibProxyObject.j</string>
		<string>CPRadio.j</string>
		<string>CPWebView.j</string>
		<string>CPSlider.j</string>
		<string>CPCibLoading.j</string>
		<string>CPTextField.j</string>
		<string>_CPBorderlessBridgeWindowView.j</string>
		<string>CPShadowView.j</string>
		<string>CALayer.j</string>
		<string>CPSecureTextField.j</string>
		<string>CPCookie.j</string>
		<string>CPCheckBox.j</string>
		<string>CGColorSpace.j</string>
		<string>CPDragServer.j</string>
		<string>CPTabViewItem.j</string>
		<string>CPCollectionView.j</string>
		<string>CPTabView.j</string>
		<string>CPMenuItem.j</string>
		<string>_CPWindowView.j</string>
		<string>CPPasteboard.j</string>
		<string>_CPCibObjectData.j</string>
		<string>CAFlashLayer.j</string>
		<string>_CPCibWindowTemplate.j</string>
		<string>_CPCibCustomView.j</string>
		<string>CPButtonBar.j</string>
		<string>CPPopUpButton.j</string>
		<string>CPCollectionViewItem.j</string>
		<string>CPImageView.j</string>
		<string>CPWindow.j</string>
		<string>CGGeometry.j</string>
		<string>CPTreeNode.j</string>
		<string>CPColor.j</string>
		<string>CPClipView.j</string>
	</array>
	<key>CPBundleVersion</key>
	<string>0.7.1</string>
</dict>
</plist>
